<div>
  <mat-card [formGroup]="docenteFormGroup" class="card-container">
    <mat-card-header>
      <mat-card-title>{{ esEdicion ? 'Editar Docente' : 'Nuevo Docente' }}</mat-card-title>
    </mat-card-header>
    <div class="foto-presentacion" *ngIf="preview || fotoActual">
      <img [src]="preview || fotoActual" alt="Foto del docente" class="foto-grande" />
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nombre(s)</mat-label>
        <input matInput formControlName="nombreDocente" appUppercase>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido Paterno</mat-label>
        <input matInput formControlName="apellidoPaterno" appUppercase>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido Materno</mat-label>
        <input matInput formControlName="apellidoMaterno" appUppercase>
      </mat-form-field>

      <div class="file-upload">
        <label for="foto">Foto del docente:</label>
        <input id="foto" type="file" (change)="onFileSelected($event)" />
      </div>

      <div class="foto-preview">
        <!-- Mostrar foto existente si no hay preview -->
        <img *ngIf="!preview && fotoActual" [src]="fotoActual" alt="Foto actual del estudiante"
          class="foto-estudiante" />

        <!-- Mostrar preview de nueva foto -->
        <img *ngIf="preview" [src]="preview" alt="Vista previa de la foto" class="foto-estudiante" />
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
      </mat-form-field>

      <mat-card-actions>
        <button class="button-style" (click)="guardarDocente()" [disabled]="docenteFormGroup.invalid"
          mat-raised-button>{{ esEdicion ? 'Actualizar Docente' : 'Guardar Docente' }}</button>
        <button class="button-style" (click)="regresarPaginaAnterior()" mat-raised-button>Regresar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
